nav li{
	position: relative;
	display: inline-block;
	top: 20px;
	left: 130px;
	padding-left: 80px;
	margin-right: 0px; 
}

a:hover{
	background-color: #D5D5D5;
	color: white; 
}

.foto-principal{
	background-image: url("../img/dance_7.jpg");
	background-size:100%;
	height: 450px;
	margin-top: 3%;
	width: 1650px;
}

.titulo-studio{
	padding-top: 20%;
	font-size: 65px;
	padding-left: 30%;
}

.text-studio{
	padding-top: 0%;
	padding-left: 30%;
}

.bg-blue{
	background: #192951;
}

.boton{
	width: 120px;
	height: 40px;
	position: relative;
	top: 20px;
	left: 30%;
}

.clic{
	position: relative;
	top: 10px;
}

.fondo-nosotros{
	width: 500px;
	height: 205px;
	position: relative;
	top: 27%;
	left: 25%;
	background: #303030;
	opacity: 0.4;
}

.titulo-comentario{
	font-size: 20px;
}

.comentario{
	position: absolute;
	margin-top: 14%;
	z-index: 1;
	margin-left: 37%;
}

.background-cubos{
	background-image: url("../img/cubes.png");
	background-size: 4%;
	height: 350px;
	width: 1500px;
}

.text-grises{
	color: #B1B1B1	
}

.titulo-pilar{
	padding-top: 50%;
	padding-bottom: 5%;
	font-size: 25px;
}

.mg-pilar{
	margin-right: 50px;
}

.tiulo-instructor{
	font-size: 20px;
}

.profesor{
	width: 250px;
	height: 200px;
	margin-top: 25%;
	margin-left: 60%;
}

.mg-instructor{
	margin-left: -150px
}

.titulo-profesor{
	padding-left: 60%;
	padding-top: 5%;
	padding-bottom: 5%;
}

.size{
	font-size: 18px;
}

.text-left{
	padding-left: 60%;

}

.background-cubos-2{
	background-image: url("../img/cubes.png");
	background-size: 4%;
	height: 250px;
	width: 1500px;
	margin-top: 10%;
}

.texto-frase2{
	font-size: 40px;
	font-weight: bold;
	margin-right: 20%;
}

.titulo-contacto{
	font-size: 25px;
	font-weight: bold;
	padding-left: 5%;
}

.zapatillas{
	margin-top: -35%;
}

/*FORMULARIO*/

.formulario{
	border:1px;
	margin: auto;
	width: 1180px;
	padding: 20px;
}

.contact-form ul{
	list-style: none;
	width: 1180px;
	margin: 0;
	padding: 0;
}

.contact-form li{
	padding: 5px;
	border-bottom: 1px;
	position: relative;
}

input{
	width: 470px; 
   height: 35px;
   font-size: 15px;
   padding-left: 50px;
}

textarea{
	font-size: 15px;
	padding-left: 50px;
	padding-top: 10px;
}

.name{
	position: relative;
	background-image: url(../img/icon_name.png);
	background-repeat: no-repeat;
	background-size: 5%;
}

.email{
	position: relative;
	background-image: url(../img/icon_mail.png);
	background-repeat: no-repeat;
	background-size: 5%;
}

.icon{
	position: relative;
	background-image: url(../img/icon_msn.png);
	background-repeat: no-repeat;
	background-size: 5%;
}

.submit{
	background: #192951;
	width: 470px;
	height: 70px;
	border: none;
	margin-left: 5px;
	border-radius: 5px;
}

.enviar{
	font-size: 20px;
	color: white;
}

.blue-background{
	height:60px;
	margin-top: 5%;
}

.der-autor{
	padding-left: 8%;
	padding-top: 5%; 
}